@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}
:root {
  --gray-color: rgb(239, 239, 239);
  --black-color: rgb(48, 47, 55);
  --cyan-color: rgb(46, 172, 251);
}
body {
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: var(--black-color);
}

h1 {
  font-size: 30px;
  font-weight: bold;
}
h2 {
  font-size: 26px;
  font-weight: 600;
}
.container {
  padding-block: 40px;
  max-width: 1260px;
  margin-inline: auto;
  padding-inline: 50px;
}

button {
  padding: 12px 15px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

input {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 17px;
  display: flex;
  align-items: center;
}
input::placeholder {
  font-weight: bold;
  font-size: 17px;
}
input:focus {
  outline: none;
}

textarea {
  border-radius: 6px;
  height: 120px;
  font-weight: 500;
  background-color: var(--gray-color);
  padding: 15px 20px;
}
.modal {
  overflow: auto;
  border-radius: 30px;
  background-color: white;
  width: 90%;
  max-width: 800px;
  height: fit-content;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 80%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 30px;
  padding: 30px 40px;
  font-size: 20px;
  z-index: 50px;
}

.modal button {
  padding-block: 18px;
  flex: 1;
}
.modal div:not(:has(button)) {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.overlay {
  position: fixed;
  z-index: 30;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.258);
}

.cards-div {
  font-size: 17px;
  font-weight: 600;
}

.study-cards p {
  text-align: center;
}

.progress-bar {
  background-color: var(--gray-color);
  height: 15px;
  border-radius: 20px;
  width: 100%;
  position: relative;
}
.progress-bar::before {
  content: "";
  position: absolute;
  background-color: var(--cyan-color);
  width: var(--value);
  transition: 0.3s all ease;
  height: 100%;
  border-radius: 20px;
  top: 0;
  left: 0;
}
@media (max-width: 600px) {
  .container {
    padding-inline: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
    font-weight: 600;
  }
}
